name: release
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
permissions:
  id-token: write
  contents: write
jobs:
  test:
    uses: ./.github/workflows/test-jobs.yaml

  release:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: npm
          registry-url: 'https://registry.npmjs.org/'
      - run: npm install
      - run: npm run build
      - run: npx rk release-note --version ${{ github.ref_name }}
      - run: npm version from-git --no-git-tag-version
      - run: npm publish --no-git-checks
      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body_path: ./release-note.md
